.idea/
/build
/dist
/litecli.egg-info
/htmlcov
/src
/test/behave.ini
/litecli_env
/.venv
/.eggs

.vagrant
*.pyc
*.deb
*.swp
.cache/
.coverage
.coverage.*

__pycache__/
*.py[cod]
*$py.class

dist/
build/
*.egg-info/

.venv/
venv/
env/

.DS_Store
.idea/
.vscode/
